node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
package-lock.json
yarn.lock
.firebaserc

# macOS
.DS_Store

#firebase service account
service_account.json

.vscode/

frontend/ios